<nb-card>
  <nb-card-header>
    Chi tiết đơn hàng
  </nb-card-header>
  <nb-card-body>
    <div class="row info">
      <div class="col-md-4">
        <b>Tên khách hàng: </b>
        <span>{{order_detail.customer_name}}</span>
      </div>
      <div class="col-md-4">
        <b>Địa chỉ khách hàng: </b>
        <span>{{order_detail.customer_address}}</span>
      </div>
      <div class="col-md-4">
        <b>Số sản phẩm: </b>
        <span>{{order_detail.total_products}}</span>
      </div>
      <div class="col-md-4">
        <b>Giá: </b>
        <span>{{order_detail.total_price}} {{order_detail.price_unit}}</span>
      </div>
      <div class="col-md-4">
        <b>Ngày tạo: </b>
        <span>{{order_detail.created_at | date :'dd/MM/yyy'}}</span>
      </div>
      <div class="col-md-4">
        <b>Lần sửa cuối: </b>
        <span>{{order_detail.updated_at | date :'dd/MM/yyy'}}</span>
      </div>
    </div>
    <div class="row info">
      <div class="col-md-4"><b>Chi tiết đơn hàng: </b></div>
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card>
